<section class="w-full h-full">

    <app-hero-section [content]="{
    breadcrumb: {
      label: 'Strona główna',
      link: '/',
      current: 'Kursy'
    },
    title: 'Kursy językowe dla',
    subtitle: 'dzieci i młodzieży',
    description: `W Polyglot Kids oferujemy kursy trzech języków — amerykańskiego angielskiego, brytyjskiego angielskiego oraz polskiego — dla dzieci i młodzieży (3-19 lat), idealnie dopasowane do ich wieku i potrzeb.
Dzięki naszej unikalnej metodzie, łączącej „growth mindset” z technikami Colina Rose, nauka staje się przyjemnością. Budujemy pewność językową, która prowadzi naszych uczniów od pierwszych słów aż po sukces na egzaminach i w dorosłym życiu.`,
    imageUrl:'../../../../../public/assets/courses/main.jpg',
  }"></app-hero-section>


    <app-course-detail-card></app-course-detail-card>


    <div class="max-w-[85%] mx-auto bg-[#ebf7ff] rounded-4xl px-6 py-12 text-center my-10">
        <h2 class="text-black text-2xl font-bold mb-3">
            Ciekawi, jak uczymy amerykańskiego angielskiego, brytyjskiego angielskiego i polskiego
            w Polyglot Kids?
        </h2>
        <p class="text-[#4B4B5B] text-base font-semibold mb-8">
            Poznaj metody, które stosujemy w naszych kursach językowych
        </p>
        <button routerLink="/method"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            Zobacz naszą metodę
        </button>
    </div>






    <main>

        <div
            class="competences__container col-span-full sm:col-span-2 lg:col-span-4 w-[70%] mx-auto text-center flex flex-col justify-center items-center my-24">

            <!-- Centered Heading -->
            <h2 class="competences__heading text-2xl sm:text-3xl font-bold w-full text-center my-5">
                Nasze kursy językowe rozwijają umiejętności przyszłości
            </h2>

            <!-- Centered Subheading -->
            <p class="competences__sub-heading text-base sm:text-lg text-center">
                Kompleksowy rozwój dzieci jest naszym priorytetem. Skupiamy się na stopniowym pogłębianiu różnych
                kompetencji niezbędnych w XXI wieku.
            </p>


        </div>
        <div class="max-w-7xl sm:mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mb-10 mx-3">
            <!-- Kids -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#f6b1c0] rounded-t-md px-4 py-5">
                 
                    <h2 class="font-bold text-lg text-black flex-1">Dzieci</h2>
                    <span class="text-black font-bold text-lg">3–6 lat</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        otwartość
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        ekspresja twórcza
                    </li>
                </ul>
            </section>

            <!-- Juniors -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#fdcf9c] rounded-t-md px-4 py-5">
                  
                    <h2 class=" text-black text-lg font-bold flex-1">Juniorzy</h2>
                    <span class="text-black text-lg font-bold  ">7–10 lat</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        Kreatywność
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        umiejętności komunikacyjne
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        nastawienie na rozwój
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold ">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold ">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        ekspresja twórcza
                    </li>
                </ul>
            </section>

            <!-- Teens -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#ffd549] rounded-t-md px-4 py-5">
                   
                    <h2 class="font-bold text-lg text-black flex-1">Nastolatki</h2>
                    <span class="text-black font-bold text-lg">11–14 lat</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        myślenie krytyczne
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        kompetencje społeczne
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        umiejętność uczenia się
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        kreatywność
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        umiejętności komunikacyjne
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        nastawienie na rozwój
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        ekspresja twórcza
                    </li>
                </ul>
            </section>

            <!-- Masters -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#ee4023] rounded-t-md px-4 py-5">
                  
                    <h2 class="font-bold text-lg text-black flex-1">Mistrzowie</h2>
                    <span class="text-black font-bold text-lg">15–19 lat</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        samodzielność
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        proaktywność
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        myślenie krytyczne
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        kompetencje społeczne
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        umiejętność uczenia się
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        kreatywność
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        umiejętności komunikacyjne
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        nastawienie na rozwój
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        ekspresja twórcza
                    </li>
                </ul>
            </section>
        </div>
    </main>


    <div class="max-w-[85%] mx-auto bg-[#ffebf0] rounded-4xl px-6 py-12 text-center my-10">
        <h2 class="text-black text-2xl font-bold mb-3">
            Wybierz kurs językowy
            w Polyglot Kids

        </h2>
        <p class="text-[#4B4B5B] text-base font-semibold mb-8">
            Zapewnij swojemu dziecku rozwój na wielu płaszczyznach
        </p>
        <button routerLink="/registration/applicationForm"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            Zapisz się na kurs
        </button>
    </div>





    <section id="courses-seo" class="py-12 bg-white">
        <div class="max-w-6xl mx-auto px-4 grid gap-10 md:grid-cols-2 lg:grid-cols-2">

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">Zajęcia językowe w Polyglot Kids to przygoda</h3>
                <p class="text-gray-700">
                    <strong>Każda lekcja amerykańskiego angielskiego, brytyjskiego angielskiego lub polskiego w Polyglot Kids
                        to przygoda,</strong>
                    w której ruch, rymy, piosenki i zabawa prowadzą dzieci prosto do świata swobodnej komunikacji
                    (i darmowych egzaminów…). Jak to robimy?
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">Jak wygląda podział na grupy w Polyglot Kids?
                </h3>
                <p class="text-gray-700">
                    <strong>Zajęcia językowe w Polyglot Kids odbywają się w jednorodnych grupach,</strong>
                    które tworzymy zarówno na podstawie wieku, jak i umiejętności językowych uczniów. Czas trwania zajęć
                    jest dłuższy niż w większości szkół językowych – od 45 do 90 minut, w zależności od tego, czy mamy do
                    czynienia z przedszkolakami czy nastolatkami. Takie planowanie lekcji zapewnia aktywny kontakt z
                    językiem i efektywną naukę.
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">Ścieżka rozwoju ucznia</h3>
                <p class="text-gray-700">
                    <strong>Nasza ścieżka rozwoju ucznia pozwala na efektywne kształtowanie umiejętności językowych</strong>
                    na każdym etapie nauki. Kurs amerykańskiego angielskiego, brytyjskiego angielskiego lub polskiego w
                    Polyglot Kids zapewnia dzieciom i młodzieży dobry start na przyszłość.
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">Więcej niż jeden język</h3>
                <p class="text-gray-700">
                    <strong>Szkoła Polyglot Kids to muzyka, rymy i ruch.</strong>
                    Skutecznie uczymy amerykańskiego angielskiego, brytyjskiego angielskiego i polskiego, ale nie tylko
                    tego. Cenimy również umiejętności przyszłości, których dzieci będą potrzebować w dorosłym życiu –
                    kreatywność, otwartość, kompetencje społeczne i myślenie krytyczne.
                    <br><br>
                    Powyżej znajdziesz <strong>opisy każdego kursu językowego dla dzieci i młodzieży</strong>
                    w Polyglot Kids. Wybierz wiek swojego dziecka i zobacz, jak interesująco mogą wyglądać nasze zajęcia
                    językowe!
                </p>
            </div>

        </div>
    </section>

</section>