<section class="w-full h-full">

    <app-hero-section [content]="{
    breadcrumb: {
      label: 'Home page',
      link: '/',
      current: 'Courses'
    },
    title: 'English language courses for',
    subtitle: 'children and teenagers',
    description: `W Polyglot Kids oferujemy kursy angielskiego dla dzieci i młodzieży (3-19 lat), idealnie dopasowane do ich wieku i potrzeb.
Dzięki naszej unikalnej metodzie, łączącej „growth mindset” z technikami Colina Rose, nauka staje się przyjemnością. Budujemy pewność językową, która prowadzi naszych uczniów od pierwszych słów aż po sukces na egzaminach i w dorosłym życiu.`,
    imageUrl:'../../../../../public/assets/courses/main.jpg',
  }"></app-hero-section>


    <app-course-detail-card></app-course-detail-card>


    <div class="max-w-[85%] mx-auto bg-[#ebf7ff] rounded-4xl px-6 py-12 text-center my-10">
        <h2 class="text-black text-2xl font-bold mb-3">
            Curious about how we teach English
            at Polyglot Kids?
        </h2>
        <p class="text-[#4B4B5B] text-base font-semibold mb-8">
            Learn about the methods we use in our English courses
        </p>
        <button routerLink="/method"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            Check the methods
        </button>
    </div>






    <main>

        <div
            class="competences__container col-span-full sm:col-span-2 lg:col-span-4 w-[70%] mx-auto text-center flex flex-col justify-center items-center my-24">

            <!-- Centered Heading -->
            <h2 class="competences__heading text-2xl sm:text-3xl font-bold w-full text-center my-5">
                Our English courses develop skills for the future
            </h2>

            <!-- Centered Subheading -->
            <p class="competences__sub-heading text-base sm:text-lg text-center">
                The comprehensive development of children is our priority. We focus on the gradual deepening of various
                competencies necessary in the 21st century world.
            </p>


        </div>
        <div class="max-w-7xl sm:mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mb-10 mx-3">
            <!-- Kids -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#f6b1c0] rounded-t-md px-4 py-5">
                 
                    <h2 class="font-bold text-lg text-black flex-1">Kids</h2>
                    <span class="text-black font-bold text-lg">3-6 years</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        Otwartość
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        Twórcza ekspresja
                    </li>
                </ul>
            </section>

            <!-- Juniors -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#fdcf9c] rounded-t-md px-4 py-5">
                  
                    <h2 class=" text-black text-lg font-bold flex-1">Juniors</h2>
                    <span class="text-black text-lg font-bold  ">7-10 years</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        Creativity
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        communication skills
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        development mindset
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold ">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold ">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Twórcza ekspresja
                    </li>
                </ul>
            </section>

            <!-- Teens -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#ffd549] rounded-t-md px-4 py-5">
                   
                    <h2 class="font-bold text-lg text-black flex-1">Teens</h2>
                    <span class="text-black font-bold text-lg">11-14 years old</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        critical thinking
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        social competences
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        ability to learn
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Creativity
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        communication skills
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        development mindset
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Twórcza ekspresja
                    </li>
                </ul>
            </section>

            <!-- Masters -->
            <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
                <header class="flex items-center gap-3 bg-[#ee4023] rounded-t-md px-4 py-5">
                  
                    <h2 class="font-bold text-lg text-black flex-1">Masters</h2>
                    <span class="text-black font-bold text-lg">15-19 years old</span>
                </header>
                <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        autonomy
                    </li>
                    <li class="flex items-center gap-2 font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
                            <i class="fas fa-plus"></i>
                        </span>
                        proactivity
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        critical thinking
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        social competences
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        ability to learn
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Creativity
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        communication skills
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        development mindset
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Otwartość
                    </li>
                    <li class="flex items-center gap-2 text-black font-semibold">
                        <span
                            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
                            <i class="fas fa-check"></i>
                        </span>
                        Twórcza ekspresja
                    </li>
                </ul>
            </section>
        </div>
    </main>


    <div class="max-w-[85%] mx-auto bg-[#ffebf0] rounded-4xl px-6 py-12 text-center my-10">
        <h2 class="text-black text-2xl font-bold mb-3">
            Choose an English course
            at Polyglot Kids

        </h2>
        <p class="text-[#4B4B5B] text-base font-semibold mb-8">
            Ensure your child develops on many levels
        </p>
        <button routerLink="/registration/applicationForm"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            SAVE to English
        </button>
    </div>





    <section id="courses-seo" class="py-12 bg-white">
        <div class="max-w-6xl mx-auto px-4 grid gap-10 md:grid-cols-2 lg:grid-cols-2">

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">English classes at Polyglot Kids are an adventure</h3>
                <p class="text-gray-700">
                    <strong>Every English lesson at Polyglot Kids is an adventure</strong>
                    where movement, rhymes, songs and fun lead children straight into the world of free communication
                    (and
                    free exams…). How do we do it?
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">What does the division into groups look like in Polyglot Kids?
                </h3>
                <p class="text-gray-700">
                    <strong>English lessons at Polyglot Kids take place in homogeneous groups,</strong>
                    which we create based on both the age and language skills of the students. The duration of classes
                    is
                    longer than in most language schools - from 45 to 90 minutes, depending on whether we are dealing
                    with
                    preschoolers or teenagers. Such lesson planning allows for active contact with the language and
                    effective learning.
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">Student Development Path</h3>
                <p class="text-gray-700">
                    <strong>Our student development path allows for effective development of language skills</strong>
                    at every stage of learning. The English course at Polyglot Kids provides children and young people
                    with a
                    good start in the future.
                </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-xl shadow">
                <h3 class="text-xl font-semibold mb-2">More than English</h3>
                <p class="text-gray-700">
                    <strong>The Polyglot Kids school is full of music, rhymes and movement.</strong>
                    We teach English effectively, but not only that. We also value the skills of the future that
                    children
                    will need in their adult lives – including creativity, openness, social skills and critical
                    thinking.
                    <br><br>
                    Above you will find <strong>descriptions of each English course for children and young
                        people</strong>
                    at Polyglot Kids. Choose your child's age and see how interesting English classes can look!
                </p>
            </div>

        </div>
    </section>

</section>