<app-header></app-header>

<nav class="bg-gray-100 py-2 px-4 flex gap-4 shadow">
   
    <a routerLink="/adminPanel/dashboard" routerLinkActive="font-bold text-pink-600" [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-pink-500">Dashboard</a>
    <a routerLink="/adminPanel/branches" routerLinkActive="font-bold text-pink-600"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-pink-500">Branches</a>
    <a routerLink="/adminPanel/profile" routerLinkActive="font-bold text-pink-600"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-pink-500">Profile</a>
</nav>

<main class="p-6">
    <router-outlet></router-outlet>
</main>