<section class="px-8 md:px-24 py-10 bg-white">
    <div routerLink="/schools" class="cursor-pointer text-black hover:text-pink-600 ">← Back to map</div>
    <main class="flex flex-col  gap-10 mt-14 bg-[#F3F5F8] p-5 md:p-10 rounded-lg ">
        <div class="w-full md:w-[50%]">
            <h2 class="text-lg md:text-4xl  font-semibold">English for children and youth
                Bydgoszcz III</h2>
            <div class="flex flex-col gap-10 mt-10 items-start">
                <!-- Description with Expand/Collapse functionality -->
                <p>
                    We cordially invite you to English lessons for children and youth at Wyżyny in Bydgoszcz. Our
                    experienced and enthusiastic teachers ensure each class is an engaging and memorable experience.
                </p>

                <p *ngIf="showMore">
                    Our English courses for children combine music, movement, and fun, making learning enjoyable and
                    effective. Classes are held at ul. Siedleckiego 10 (next to ZS19) and ul. Białogardzka 7 (near
                    SP60), with schedules tailored to school timetables. If needed, our teachers can accompany children
                    to and from classes. We offer a comprehensive, long-term development path for every student.
                </p>

                <button class="text-pink-600 hover:text-pink-900 font-semibold flex items-center gap-1"
                    (click)="showMore = !showMore" type="button" [attr.aria-expanded]="showMore">
                    <span>
                        {{ showMore ? 'Collapse' : 'Read more' }}
                    </span>
                    <span class="text-xs pt-0.5 pl-2">
                        {{ showMore ? '▲' : '▼' }}
                    </span>
                </button>
            </div>
        </div>
        <div class="flex gap-5 items-start w-full">
            <div class="w-1/5 min-w-[40%] hidden lg:block">
                <iframe class="w-full h-[27rem] border-0 z-0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111256.75802333384!2d71.60761057736994!3d29.3769149704731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b90c46c611ad5%3A0xfcdf0da8e103f862!2sBahawalpur%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1730097186118!5m2!1sen!2s">
                </iframe>
            </div>
            <div class="w-4/5 flex flex-col  items-start px-10">
                <div>
                    <h1 class="text-2xl font-semibold">Class locations:</h1>
                    <div class="flex gap-5 md:gap-24 mt-4  flex-wrap md:flex-nowrap">
                        <div class="flex items-start gap-4 mt-4">
                            <i class="fa fa-map-marker-alt pt-2 pl-1"></i>
                            <div>
                                <p> Adama Grzymała-Siedleckiego 10 </p>
                                <p>Bydgoszcz, 85-870</p>
                                <div>
                                    Early Stage Venue </div>
                            </div>
                        </div>

                        <div class="flex items-start gap-4 mt-4">
                            <i class="fa fa-map-marker-alt pt-2 pl-1"></i>
                            <div>
                                <p>Bialogardzka 7 St. </p>
                                <p>Bydgoszcz, 85-808</p>
                                <div>
                                    Early Stage Venue </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl font-semibold">Headquarters (Office)</h1>
                    <div class="flex flex-col gap-3 mt-4">

                        <div class="flex items-start gap-4 mt-4">
                            <i class="fa fa-map-marker-alt pt-2 pl-1"></i>
                            <div>
                                <p> ul. Adama Grzymały-Siedleckiego 10 </p>
                                <p>Bydgoszcz 85-868</p>

                            </div>
                        </div>
                        <div class="flex items-start gap-4 mt-4">
                            <i class="fa fa-phone pt-2 pl-1"></i>
                            <div>
                                <p> +48 797 637 537</p>

                            </div>
                        </div>
                        <div class="flex items-start gap-4 mt-4">
                            <i class="fa fa-envelope pt-2 pl-1"></i>
                            <div>
                                <p>bydgoszcz3&#64;earlystage.pl</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <section class="my-10">
        <div>

            <div class="scroller-container">
                <div class="scroller">
                    <div class="scroller-content">
                        <div class="item " [ngClass]="{ 'activeMenu': activeIndex === i, '': activeIndex !== i }"
                            *ngFor="let item of accordionItems; let i = index" (click)="setActiveItem(i)">{{ item.title
                            }}</div>


                    </div>
                </div>

            </div>

            <!-- Content -->
            <div class="bg-white w-full h-full p-4 overflow-y-auto mt-6">
                <div class="space-y-6">
                    <div *ngFor="let card of accordionItems[activeIndex]?.cards"
                        class="border-gray-300 p-4 bg-white rounded-md shadow-md max-w-full md:max-w-[70%] lg:max-w-[40%] mx-auto">
                        <h3 *ngIf="card.title" class="text-base font-bold text-gray-800">{{ card.title }}</h3>
                        <p *ngIf="card.description" class="text-sm text-gray-600">{{ card.description }}</p>

                        <div class="text-sm text-gray-700 mt-2 space-y-1">
                            <p *ngIf="card.schedule"><strong class="text-pink-500">{{ card.schedule }}</strong> per week
                            </p>
                            <p *ngIf="card.minutes">or <strong class="text-pink-500">{{ card.minutes }}</strong> of
                                English
                                per week</p>
                            <p *ngIf="card.classes"><strong class="text-pink-500">{{ card.classes }}</strong> per school
                                year</p>
                        </div>

                        <hr *ngIf="card.price || card.materials" class="my-2" />

                        <h4 *ngIf="card.price" class="font-semibold text-gray-900 text-lg">{{ card.price }}</h4>
                        <p *ngIf="card.materials" class="text-gray-600 text-sm">{{ card.materials }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4 text-[12px] pl-4 max-w-full lg:max-w-[70%]  mx-auto">
            <p>The monthly prices quoted are based on the assumption that the course starts in September, lasts 10
                months and includes
                the specified number of classes – regardless of the number of classes each month.</p>
            <p>If a course starts in a different month or includes fewer classes than indicated, both the total course
                price and
                monthly fees may change.</p>
            <p>The prices listed on the website are for information purposes only and do not constitute an offer. The
                final price of
                the course will be presented in the contract, taking into account the start date and the number of
                classes.</p>
        </div>
        <div class="w-full flex justify-center items-center">
            <button routerLink="/registration/applicationForm"
                class="cursor-pointer bg-pink-600 text-white font-semibold text-md rounded-full px-6 py-3 hover:bg-pink-700 transition max-[500px]:text-xs max-[500px]:px-3 max-[500px]:py-1.5 mt-10">signup
                your child
            </button>
        </div>
    </section>







    <section class="w-full flex flex-col gap-4 mt-10">
        <div class="flex items-center gap-2 mx-auto"><img src="https://earlystage.pl/images/school.svg" width="30"
                alt="Why choose us?">
            <h2 class="text-2xl font-semibold">What else do you get?</h2>
        </div>
        <div class="flex flex-col md:flex-row   w-full">
            <div class="flex flex-col gap-1 lg:gap-24 w-full lg:w-[70%] lg:flex-row mx-auto">
                <ul class="space-y-2">
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            Your child's development path up to the final exams
                        </span>
                    </li>
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            Regular progress summaries
                        </span>
                    </li>
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            Constant monitoring of the level of knowledge
                        </span>
                    </li>
                </ul>
                <ul class="space-y-2">
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            a convenient e-journal with information about classes
                        </span>
                    </li>
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            access to the Early Stage MUSIC music application
                        </span>
                    </li>
                    <li class="flex items-start gap-2">
                        <img src="https://earlystage.pl/images/check.svg" alt="Check" class="mt-1 w-5 h-5">
                        <span class="text-gray-600 text-lg ">
                            online platform with additional activities
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <hr class="my-8 border-t border-gray-200">

    <section class="flex gap-4">
        <div class="w-1/2 font-semibold text-5xl"> Additional information</div>
        <section class="w-1/2  flex flex-col gap-4">
            <div>
                <div class="flex items-center gap-2 mx-auto"><img src="https://earlystage.pl/images/menu-book.svg"
                        alt=""><span class="text-lg font-semibold">Educational materials</span>
                </div>
                <p class="pl-8 mt-3 text-gray-600 ">Educational materials are subject to an additional fee.

                    <strong>The one-time cost for the entire school year depends on the course level</strong> and is PLN
                    140-350. We send the price list by
                    email after assigning to a group. The fee for educational materials will be added to the first
                    payment for the course.
                </p>
                <hr class="my-8 border-t border-gray-200">

            </div>
            <div>
                <div class="flex items-center gap-2 mx-auto"><img src="https://earlystage.pl/images/payments-fill.svg"
                        alt=""><span class="text-lg font-semibold">Payments</span>
                </div>
                <div class="pl-8 mt-3 text-gray-600 ">Once the educational agreement is signed, we send payment
                    information to our clients.
                    <p>You can pay for the course using quick payments:</p>
                    <li>
                        <strong>BLIK</strong>
                    </li>
                    <li>
                        <strong>Fast transfer</strong>
                    </li>
                    Safety rules: <br>

                    Remember to check if the sender of the message is Early Stage
                </div>
                <hr class="my-8 border-t border-gray-200">

            </div>


            <div>
                <div class="flex items-center gap-2 mx-auto"><img src="https://earlystage.pl/images/sell.svg"
                        alt=""><span class="text-lg font-semibold">Discounts</span>
                </div>
                <div class="pl-8 mt-3 text-gray-600 ">The school offers the following discounts:
                    <br>
                    <strong>Sibling discount</strong>
                    <p>Each sibling receives a PLN 16 discount for each month ,

                        where at least two children are studying in Early Stage. To receive this discount, it is
                        sufficient that the same person
                        signs the contracts for each of the children.</p>
                    <br>
                    <strong>Discounts for paying in advance</strong>
                    <p>The discount for a combined payment for the entire course (10 months) is PLN 160, and for a
                        combined payment
                        corresponding to 5 monthly fees: PLN 80.00, in relation to the annual cost of the course.</p>
                    <br>
                    <strong>Discounts cannot be combined with each other.</strong>
                </div>
                <hr class="my-8 border-t border-gray-200">

            </div>

            <div>
                <div class="flex items-center gap-2 mx-auto"><img src="https://earlystage.pl/images/history-edu.svg"
                        alt=""><span class="text-lg font-semibold">Leveling meeting</span>
                </div>
                <p class="pl-8 mt-3 text-gray-600 ">We organize individual leveling meetings for all new students from
                    the second grade of primary school. During the
                    meeting, the methodologist talks to the student and conducts a short language skills test. On this
                    basis, we can select
                    a group appropriately suited to the child's level.
                </p>
                <hr class="my-8 border-t border-gray-200">

            </div>
        </section>
    </section>


    <section>Photo gallery of our school</section>
    <section>Events at the branch
    </section>

    <div>Watch a demo lesson</div>
    <section>extra info </section>
</section>