<div class="bg-hero-section flex justify-center py-10 px-4">
  <div class="max-w-[1200px] w-full">
    <h1 class="text-center font-medium text-[#0a0a0a] mb-8 header-text text-[1.5rem]">
      Programy języka angielskiego Polyglot Kids
    </h1>
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 px-[11%] sm:px-0">
      <!-- Explorers Card -->
      <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-lg min-h-[662px] flex justify-between flex-col">
        <div>
          <div class="bg-[#b3e5fc] relative flex justify-center items-center">
            <div class="w-full h-[200px] overflow-visible">
              <img src="../../../../../public/assets/images/2.jpeg"
                alt="Mali uczniowie uczący się angielskiego przez zabawę" class="w-full h-full object-cover"
                loading="lazy" />
            </div>
            <div class="flex items-start space-x-2 justify-start mr-4">
              <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="..." fill="white"></path>
                <path d="..." fill="#161616"></path>
              </svg>
              <div>
                <h3 class="text-[#161616] font-semibold text-xl">Odkrywcy</h3>
                <h4 class="text-[#161616] font-medium text-sm">3–6 lat</h4>
                <span class="text-sm text-[#161616]">Piosenki i opowieści</span>
              </div>
            </div>
          </div>
          <div class="p-4 text-[#161616] text-sm">
            <p class="mb-5">
              Poprzez piosenki, zabawę i działania plastyczne nasi Odkrywcy wchodzą w świat języka angielskiego w
              ciepłym i angażującym środowisku. Zajęcia budują pewność siebie oraz rozwijają ciekawość.
            </p>
          </div>
        </div>
        <div class="p-4 text-[#161616] text-sm">
          <hr class="my-5 bg-gray-100" />
          <span class="block text-sm text-[#5f5f5f] mb-4">
            Cel: wczesna ekspresja, nauka poprzez zabawę
          </span>
          <a routerLink="/courses/english-for-children-3-6"
            class="block w-full text-center bg-[#b3e5fc] text-black font-semibold py-2 rounded-full hover:text-white transition">
            SZCZEGÓŁY
          </a>
        </div>
      </div>

      <!-- Trailblazers Card -->
      <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-lg min-h-[660px] flex justify-between flex-col">
        <div>
          <div class="bg-[#ffe082] relative flex justify-center items-center">
            <div class="w-full h-[200px] overflow-hidden rounded-md">
              <img src="../../../../../public/assets/images/6.jpeg" alt="Uczniowie odkrywający język"
                class="w-full h-full object-cover" loading="lazy" />
            </div>
            <div class="flex items-start space-x-2 justify-start mr-4">
              <svg class="w-[37px] h-[40px]" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="..." fill="white" />
                <path d="..." fill="#161616" />
              </svg>
              <div>
                <h3 class="text-[#161616] font-semibold text-xl">Pionierzy</h3>
                <h4 class="text-[#161616] font-medium text-sm">7–10 lat</h4>
                <span class="text-sm text-[#161616]">Mów i odkrywaj</span>
              </div>
            </div>
          </div>
          <div class="p-4 text-[#161616] text-sm">
            <p class="mb-5">
              Dzięki ciekawym tematom i zadaniom dzieci rozwijają słownictwo, uczą się czytać proste teksty i zdobywają
              pewność siebie w mówieniu po angielsku. Przygotowujemy je do pierwszych międzynarodowych egzaminów.
            </p>
          </div>
        </div>
        <div class="p-4 text-[#161616] text-sm">
          <hr class="my-5 bg-gray-100" />
          <span class="block text-sm text-[#5f5f5f] mb-4">
            Egzaminy: Cambridge Pre-A1 Starters, A1 Movers
          </span>
          <a routerLink="/courses/english-for-children-7-10"
            class="block w-full text-center bg-[#ffe082] text-black font-semibold py-2 rounded-full hover:text-white transition">
            SZCZEGÓŁY
          </a>
        </div>
      </div>

      <!-- Innovators Card -->
      <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex justify-between flex-col">
        <div>
          <div class="bg-[#c5e1a5] relative flex justify-center items-center">
            <div class="w-full h-[200px] overflow-hidden rounded-md">
              <img src="../../../../../public/assets/images/11.jpeg" alt="Nastolatki współpracujące na zajęciach"
                class="w-full h-full object-cover" loading="lazy" />
            </div>
            <div class="flex items-start space-x-2 justify-start mr-4">
              <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="..." fill="white"></path>
                <path d="..." fill="#161616"></path>
              </svg>
              <div>
                <h3 class="text-[#161616] font-semibold text-xl">
                  Innowatorzy
                </h3>
                <h4 class="text-[#161616] font-medium text-sm">11–14 lat</h4>
                <span class="text-sm text-[#161616]">Debatuj i współpracuj</span>
              </div>
            </div>
          </div>
          <div class="p-4 text-[#161616] text-sm">
            <p class="mb-5">
              Dla nastolatków gotowych do wyrażania złożonych myśli — te zajęcia rozwijają krytyczne myślenie i
              umiejętność współpracy. Uczniowie przygotowują się do egzaminów poprzez dyskusje, projekty oraz zadania
              inspirowane codziennym życiem.
            </p>
          </div>
        </div>
        <div class="p-4 text-[#161616] text-sm">
          <hr class="my-5 bg-gray-100" />
          <span class="block text-sm text-[#5f5f5f] mb-4">
            Egzaminy: A2 Flyers, A2 Key, B1 Preliminary
          </span>
          <a routerLink="/courses/english-for-children-11-14"
            class="block w-full text-center bg-[#c5e1a5] text-black font-semibold py-2 rounded-full hover:text-white transition">
            SZCZEGÓŁY
          </a>
        </div>
      </div>

      <!-- Visionaries Card -->
      <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex justify-between flex-col">
        <div>
          <div class="bg-[#ffab91] relative flex justify-center items-center">
            <div class="w-full h-[200px] overflow-hidden rounded-md">
              <img src="../../../../../public/assets/images/13.jpeg" alt="Nastolatki zaangażowane w projekt"
                class="w-full h-full object-cover" loading="lazy" />
            </div>
            <div class="flex items-start space-x-2 justify-start mr-4">
              <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="..." fill="white"></path>
                <path d="..." fill="#161616"></path>
              </svg>
              <div>
                <h3 class="text-[#161616] font-semibold text-xl">Wizjonerzy</h3>
                <h4 class="text-[#161616] font-medium text-sm">15–19 lat</h4>
                <span class="text-sm text-[#161616]">Inspiruj i prowadź</span>
              </div>
            </div>
          </div>
          <div class="p-4 text-[#161616] text-sm">
            <p class="mb-5">
              Uczniowie naszego zaawansowanego programu uczestniczą w debatach, prezentacjach i intensywnych
              przygotowaniach do egzaminów. Skupiamy się na praktycznym zastosowaniu języka oraz przygotowaniu
              akademickim do międzynarodowych kwalifikacji i sukcesu na studiach.
            </p>
          </div>
        </div>
        <div class="p-4 text-[#161616] text-sm">
          <hr class="my-5 bg-gray-100" />
          <span class="block text-sm text-[#5f5f5f] mb-4">
            Egzaminy: B2 First, C1 Advanced
          </span>
          <a routerLink="/courses/english-for-children-14-19"
            class="block w-full text-center bg-[#ffab91] text-black font-semibold py-2 rounded-full hover:text-white transition">
            SZCZEGÓŁY
          </a>
        </div>
      </div>
    </div>
  </div>
</div>