<div class="bg-[#ecf7f8] flex justify-center py-10 px-4">
    <div class="max-w-[1200px] w-full ">
        <h1 class="text-center font-medium text-[#0a0a0a] mb-8 header-text text-[1.5rem]">
            Early Stage English Courses
        </h1>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-[11%] sm:px-0">

            <!-- Kids Card -->
            <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex justify-between flex-col">
                <div> <!-- Hero Section -->
                    <div class="bg-[#f6b1c0] relative flex justify-center items-center">
                        <!-- Image -->
                        <div class="w-full h-[180px] overflow-hidden rounded-md">
                            <img src="/assets/courses/kids.webp"
                                alt="Kids with balloons and toys, smiling and looking happy"
                                class="w-full h-full object-cover" loading="lazy" />
                        </div>

                        <!-- Badge / Icon and Titles -->
                        <div class="flex items-start space-x-2 justify-start mr-4">
                            <!-- Shield Icon SVG -->
                            <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.0773 40C10.1776 40 1.24556 24.8986 0.250784 23.1766L0 22.7335L1.22466 5.08673L18.0773 0L34.93 5.08673L36.1546 22.7335L35.8997 23.1766C34.9133 24.8986 25.977 40 18.0773 40ZM3.40648 21.9436C6.87565 27.8161 13.6844 36.6562 18.0773 36.6562C22.4744 36.6562 29.2832 27.8119 32.7482 21.9436L31.7576 7.61964L18.0773 3.49007L4.40125 7.61964L3.40648 21.9436Z"
                                    fill=" white "></path>
                                <path
                                    d="M23.8038 11.65H20.3478L16.1898 17.248V11.65H13.2738V24.25H16.1898V18.688L20.3298 24.25H23.8038L18.8538 17.896L23.8038 11.65Z"
                                    fill="#161616"></path>
                            </svg>


                            <!-- Title Content -->
                            <div>
                                <h3 class="text-[#161616] font-semibold text-xl">Kids</h3>
                                <h4 class="text-[#161616] font-medium text-sm text-nowrap">3–6 years</h4>
                                <span class="text-sm text-[#161616] text-nowrap">Rhymes & Play</span>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="p-4 text-[#161616] text-sm">
                        <p class="mb-5">
                            Rhymes, songs, movement and art are the elements of preschoolers and our way of opening them
                            to
                            the world of English. Classes for children aged 3–6 are conducted in a safe, friendly
                            atmosphere, accompanied by smiles from ear to ear and valuable fun.
                        </p>

                    </div>
                </div>
                <div class="p-4 text-[#161616] text-sm">
                    <hr class="my-5 bg-gray-100 text-gray-200" />

                    <span class="block text-sm text-[#5f5f5f] mb-4">
                        Focus: Joyful learning, creative play
                    </span>

                    <!-- Button -->
                    <a routerLink="/courses/english-for-children-3-6" id="btn_courses_kids"
                        class="block w-full text-center bg-[#f6b1c0] text-black font-semibold py-2 rounded-full hover:text-white transition">
                        DETAILS
                    </a>
                </div>
            </div>

            <!-- Juniors Card -->
            <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex flex-col justify-between">
                <!-- Hero Section -->
                <div>
                    <div class="bg-[#fdcf9c]  relative flex justify-center items-center">
                        <!-- Image -->
                        <div class="w-full h-[180px] overflow-hidden rounded-md">
                            <img src="/assets/courses/juniors.webp" alt="Juniors" class="w-full  object-cover"
                                loading="lazy" />
                        </div>

                        <!-- Badge / Icon and Titles -->
                        <div class="flex items-start space-x-2 justify-start mr-4">
                            <!-- Shield Icon -->
                            <svg class="w-[37px] h-[40px] flex-shrink-0" viewBox="0 0 37 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.0773 40C10.1776 40 1.24556 24.8986 0.250784 23.1766L0 22.7335L1.22466 5.08673L18.0773 0L34.93 5.08673L36.1546 22.7335L35.8997 23.1766C34.9133 24.8986 25.977 40 18.0773 40ZM3.40648 21.9436C6.87565 27.8161 13.6844 36.6562 18.0773 36.6562C22.4744 36.6562 29.2832 27.8119 32.7482 21.9436L31.7576 7.61964L18.0773 3.49007L4.40125 7.61964L3.40648 21.9436Z"
                                    fill="white" />
                                <path
                                    d="M17.6569 24.574C20.5369 24.574 22.2649 22.9 22.2649 19.804V11.65H19.3669V19.984C19.3669 21.226 18.8089 22.072 17.6569 22.072C16.5229 22.072 15.9829 21.208 15.9829 19.912H13.0669C13.0669 22.612 14.6149 24.574 17.6569 24.574Z"
                                    fill="#161616" />
                            </svg>

                            <!-- Title Content -->
                            <div>
                                <h3 class="text-[#161616] font-semibold text-xl">Juniors</h3>
                                <h4 class="text-[#161616] font-medium text-sm text-nowrap">7–10 years</h4>
                                <span class="text-sm text-[#161616] text-nowrap">Talk & Create</span>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="p-4 text-[#161616] text-sm">
                        <p class="mb-5">
                            We encourage early school children to speak. We expand their vocabulary, develop their
                            listening
                            comprehension and reading skills for the first texts in English. We accustom them to making
                            mistakes so that
                            they do not block the joy of learning.
                        </p>
                        <p class="mb-10">
                            In classes for 7–10 year olds, we prepare children for their first Cambridge exams: Pre-A1
                            Starters, A1
                            Movers. And we help them pass them relaxed and without stress.
                        </p>


                    </div>
                </div>
                <div class="p-4 text-[#161616] text-sm">
                    <hr class="my-5 bg-gray-100 text-gray-200">

                    <span class="block text-sm text-[#5f5f5f] mb-4">
                        Exams: Pre-A1 Starters, A1 Movers
                    </span>

                    <!-- Button -->
                    <a routerLink="/courses/english-for-children-7-10" id="btn_courses_juniors"
                        class="block w-full text-center bg-[#fdcf9c] text-[#161616] font-semibold py-2 rounded-full hover:text-white transition">
                        DETAILS
                    </a>
                </div>
            </div>

            <!-- Teens Card -->
            <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex justify-between flex-col">
                <div> <!-- Hero Section -->
                    <div class="bg-[#ffd549] relative flex justify-center items-center">
                        <!-- Image -->
                        <div class="w-full h-[180px] overflow-hidden rounded-md">
                            <img src="/assets/courses/teens.webp"
                                alt="Kids with balloons and toys, smiling and looking happy"
                                class="w-full h-full object-cover" loading="lazy" />
                        </div>

                        <!-- Badge / Icon and Titles -->
                        <div class="flex items-start space-x-2 justify-start mr-4">
                            <!-- Shield Icon SVG -->
                            <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.0773 40C10.1776 40 1.24556 24.8986 0.250784 23.1766L0 22.7335L1.22466 5.08673L18.0773 0L34.93 5.08673L36.1546 22.7335L35.8997 23.1766C34.9133 24.8986 25.977 40 18.0773 40ZM3.40648 21.9436C6.87565 27.8161 13.6844 36.6562 18.0773 36.6562C22.4744 36.6562 29.2832 27.8119 32.7482 21.9436L31.7576 7.61964L18.0773 3.49007L4.40125 7.61964L3.40648 21.9436Z"
                                    fill=" white "></path>
                                <path d="M16.545 24.25H19.443V14.242H22.917V11.65H13.089V14.242H16.545V24.25Z"
                                    fill="#161616"></path>
                            </svg>


                            <!-- Title Content -->
                            <div>
                                <h3 class="text-[#161616] font-semibold text-xl">Teens</h3>
                                <h4 class="text-[#161616] font-medium text-sm text-nowrap">11-14 years old</h4>
                                <span class="text-sm text-[#161616] text-nowrap">Think & Cooperate</span>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="p-4 text-[#161616] text-sm">
                        <p class="mb-5">
                            Our teenagers are already chatty – and in English! The topics of classes for children aged
                            11-14 encourage them to think
                            critically, present their own opinions and solve problems creatively.
                        </p>
                        <p class="mb-10">
                            At this stage, we prepare for the eighth-grade exam and the subsequent Cambridge exams: A2
                            Flyers, A2 Key, B1
                            Preliminary. During the preparations, our students also learn to cooperate and celebrate
                            small and large successes!
                        </p>

                    </div>
                </div>
                <div class="p-4 text-[#161616] text-sm">
                    <hr class="my-5 bg-gray-100 text-gray-200" />

                    <span class="block text-sm text-[#5f5f5f] mb-4">
                        Exams: A2 Flyers, A2 Key, B1 Preliminary
                    </span>

                    <!-- Button -->
                    <a routerLink="/courses/english-for-children-11-14" id="btn_courses_kids"
                        class="block w-full text-center bg-[#ffd549] text-black font-semibold py-2 rounded-full hover:text-white transition">
                        DETAILS
                    </a>
                </div>
            </div>
            <!-- Masters Card -->
            <div class="bg-white rounded-xl shadow-md overflow-hidden max-w-sm flex justify-between flex-col">
                <div> <!-- Hero Section -->
                    <div class="bg-[#ee4023] relative flex justify-center items-center">
                        <!-- Image -->
                        <div class="w-full h-[180px] overflow-hidden rounded-md">
                            <img src="/assets/courses/masters.webp"
                                alt="Kids with balloons and toys, smiling and looking happy"
                                class="w-full h-full object-cover" loading="lazy" />
                        </div>

                        <!-- Badge / Icon and Titles -->
                        <div class="flex items-start space-x-2 justify-start mr-4">
                            <!-- Shield Icon SVG -->
                            <svg class="courses-icon" width="37" height="40" viewBox="0 0 37 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.0773 40C10.1776 40 1.24556 24.8986 0.250784 23.1766L0 22.7335L1.22466 5.08673L18.0773 0L34.93 5.08673L36.1546 22.7335L35.8997 23.1766C34.9133 24.8986 25.977 40 18.0773 40ZM3.40648 21.9436C6.87565 27.8161 13.6844 36.6562 18.0773 36.6562C22.4744 36.6562 29.2832 27.8119 32.7482 21.9436L31.7576 7.61964L18.0773 3.49007L4.40125 7.61964L3.40648 21.9436Z"
                                    fill=" white "></path>
                                <path
                                    d="M11.3051 24.25H14.0951V16.024L16.9571 24.25H19.1171L21.9071 16.078V24.25H24.6971V11.65H21.3851L18.0371 20.596L14.6891 11.65H11.3051V24.25Z"
                                    fill="#161616"></path>
                            </svg>


                            <!-- Title Content -->
                            <div>
                                <h3 class="text-[#161616] font-semibold text-xl">Masters</h3>
                                <h4 class="text-[#161616] font-medium text-sm text-nowrap">15-19 years old</h4>
                                <span class="text-sm text-[#161616] text-nowrap">Share & Challenge</span>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="p-4 text-[#161616] text-sm">
                        <p class="mb-5">
                            Early Stage classes for young people are a forge of free conversations in English and an
                            almost unlimited field for
                            practicing expressing one's opinions in a thoughtful way. We support looking at the world
                            from different perspectives,
                            autonomy and proactivity of students.
                        </p>
                        <p class="mb-10">
                            At this stage, we prepare young people for the extended English language matriculation exam
                            and Cambridge exams at the
                            following levels: Preliminary for Schools, First for Schools, Advanced. We give them
                            "linguistic wings" and help them
                            fly in the direction of their dreams.
                        </p>

                    </div>
                </div>
                <div class="p-4 text-[#161616] text-sm">
                    <hr class="my-5 bg-gray-100 text-gray-200" />

                    <span class="block text-sm text-[#5f5f5f] mb-4">
                        Exams: B2 First, C1 Advanced
                    </span>

                    <!-- Button -->
                    <a routerLink="/courses/english-for-children-14-19" id="btn_courses_kids"
                        class="block w-full text-center bg-[#ee4023] text-black font-semibold py-2 rounded-full hover:text-white transition">
                        DETAILS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>