<!-- hero section  -->

<div class="relative overflow-hidden bg-hero-section mb-20 mt-[10px]">
  <div class="max-w-7xl mx-auto md:px-6 pb-10 md:pb-0 flex flex-col-reverse md:flex-row items-center justify-between">
    <!-- Text Content -->
    <div class="w-full md:w-1/2 flex flex-col gap-4 text-center md:text-left">
      <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-gray-900 leading-tight">
        Wzmacnianie młodych umysłów<br />
        <span class="text-primary-hover">Poprzez język i naukę</span>
      </h1>
      <p class="text-lg text-gray-600 max-w-xl text-justify">
        Wysokowydajne kursy języka angielskiego dla dzieci i młodzieży oparte na sprawdzonych metodach, nowoczesnych
        narzędziach oraz pasji do praktycznej komunikacji. Polyglot Kids to miejsce, gdzie nauka angielskiego staje się
        naturalna, skuteczna i pełna radości. Zajęcia prowadzone przez doświadczonych nauczycieli, również native
        speakerów, w przyjaznej atmosferze.
      </p>
      <div class="flex flex-col sm:flex-row gap-4 mt-6 justify-center md:justify-start px-10">
        <a routerLink="/schools"
          class="cursor-pointer text-center px-6 py-3 text-sm font-medium text-primary border border-primary rounded-full hover:bg-primary hover:text-white transition">
          Znajdź pobliskie kampusy
        </a>
        <a routerLink="/courses"
          class="text-center cursor-pointer px-6 py-3 text-sm font-medium text-white bg-primary rounded-full hover:bg-primary-hover transition">
          Odkryj nasze programy
        </a>
      </div>
    </div>

    <!-- Hero Image -->
    <div class="w-full md:w-1/2 flex justify-center md:justify-end mb-10 md:mb-0">
      <img src="../../../../../public/assets/images/14.jpeg" alt="Confident student with books and headphones"
        class="h-auto lg:h-[600px] w-full drop-shadow-xl" />
    </div>
  </div>
</div>

<section class="bg-white py-16 px-6 lg:px-10 max-w-7xl mx-auto">
  <div class="text-center max-w-3xl mx-auto">
    <h2 class="text-3xl sm:text-4xl font-extrabold text-gray-900 mb-4">
      Dlaczego warto wybrać Polyglot Kids?
    </h2>
    <p class="text-lg text-gray-600 text-justify">
      W <strong>Polyglot Kids</strong> nie tylko uczymy dzieci języka angielskiego otwieramy przed nimi drzwi do świata
      pełnego
      możliwości.
      Nasze innowacyjne programy nauki języka angielskiego dla dzieci łączą naukę z kreatywnością, świadomością
      kulturową oraz zajęciami budującymi pewność siebie.
      Zajęcia, stworzone z myślą o dzieciach w wieku od 3 do 19 lat, wspierają ich naturalny rozwój i umiejętności
      komunikacyjne.
      Niezależnie od tego, czy wypowiadają swoje pierwsze słowo po angielsku, czy wygłaszają pierwszą prezentację
      pomagamy im rozwijać się jako ciekawi świata myśliciele, pewni siebie mówcy i obywatele świata.
      Odkryj, dlaczego Polyglot Kids to zaufany wybór w nauce angielskiego dla dzieci w Polsce.
    </p>
  </div>

  <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-10 max-w-4xl mx-auto text-gray-700 text-base leading-relaxed">
    <p class="p-10 shadow-md text-justify rounded-sm border border-gray-200">
      Nasze podejście do nauczania języka angielskiego dzieci wykracza daleko poza samą gramatykę i słownictwo.
      W Polyglot Kids tworzymy immersyjne środowiska językowe, wypełnione muzyką, ruchem, opowiadaniem historii i
      kreatywną zabawą.
      Wszystkie nasze zajęcia opierają się na sprawdzonych metodach nauczania angielskiego dla dzieci, które pomagają
      najmłodszym przyswajać język w sposób naturalny, tak aby stał się on umiejętnością na całe życie.
    </p>
    <p class="p-10 text-justify shadow-md rounded-sm border border-gray-200">
      Od przedszkolaków po nastolatków każde dziecko w Polyglot Kids uczy się języka angielskiego poprzez angażujące
      lekcje, działania zespołowe i indywidualne wsparcie.
      Rodzice doceniają naszą otwartą komunikację i wybierają naukę angielskiego dla dzieci nie z obowiązku, lecz
      dlatego, że widzą realne postępy i wartość.
      W Polyglot Kids tworzymy pozytywne środowisko do nauki, które motywuje dzieci i daje rodzicom pewność co do
      rozwoju ich dziecka.
    </p>
  </div>
</section>

<!-- features  -->
<div class="flex justify-center gap-4 items-start w-[85%] m-auto flex-wrap mt-10">
  <div class="flex flex-col items-center text-center px-4 py-6 w-[190px] max-w-xs" *ngFor="let feature of featureArray">
    <div class="w-16 h-16 rounded-full bg-primary-bg flex items-center justify-center text-justify mb-4">
      <div class="w-8 h-8 bg-primary-hover mask mask-custom" [ngStyle]="{
          maskImage: 'url(' + feature.iconUrl + ')',
          WebkitMaskImage: 'url(' + feature.iconUrl + ')'
        }"></div>
    </div>

    <h3 class="text-lg font-semibold mb-1 leading-tight">
      <span>{{ feature.title }}</span>
    </h3>
    <p class="text-sm text-gray-700 leading-snug">
      {{ feature.description }}
    </p>
  </div>
</div>

<div class="max-w-7xl mx-auto px-4 py-10 font-sans">
  <div class="flex flex-col sm:flex-row justify-center items-center gap-6">
    <div class="bg-primary-bg rounded-lg p-6 flex flex-col items-center text-center max-w-xs flex-1">
      <i class="fas fa-chart-line text-primary-hover text-3xl mb-3"></i>
      <p class="text-lg font-semibold text-primary-hover mb-1">90,2%</p>
      <p class="text-xs text-[#1F1F1F] leading-tight">
        uczniów chce kontynuować<br />naukę w kolejnym roku szkolnym
      </p>
    </div>
    <div class="bg-primary-bg rounded-lg p-6 flex flex-col items-center text-center max-w-xs flex-1">
      <i class="fas fa-star text-primary-hover text-3xl mb-3"></i>
      <p class="text-lg font-semibold text-primary-hover mb-1">96%</p>
      <p class="text-xs text-[#1F1F1F] leading-tight">
        To średni wynik naszych uczniów<br />
        na egzaminie z angielskiego w ósmej klasie.*<br />
        Średnia krajowa wynosi 66%
      </p>
    </div>
    <div class="bg-primary-bg rounded-lg p-6 flex flex-col items-center text-center max-w-xs flex-1">
      <i class="fas fa-award text-primary-hover text-3xl mb-3"></i>
      <p class="text-lg font-semibold text-primary-hover mb-1">100%</p>
      <p class="text-xs text-[#1F1F1F] leading-tight">
        38,3% naszych uczniów osiągnęło<br />
        ten wynik na egzaminie z angielskiego w ósmej klasie*
      </p>
    </div>
  </div>
</div>

<app-course-detail-card></app-course-detail-card>

<div class="max-w-[85%] mx-auto bg-[#FDE8E9] rounded-4xl px-6 py-12 text-center my-10">
  <h2 class="text-black text-2xl font-bold mb-3">
    Angielski dla dzieci i nastolatków w Twojej okolicy
  </h2>
  <p class="text-[#4B4B5B] text-base font-semibold mb-8">
    Zapewnij swojemu dziecku wartościowe i skuteczne zajęcia z języka
    angielskiego – od przedszkola po egzaminy końcowe!
  </p>
  <button routerLink="/registration/applicationForm"
    class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
    type="button">
    Zapisz swoje dziecko
  </button>
</div>

<app-openion-crousal></app-openion-crousal>

<div class="px-4 py-10 bg-hero-section mb-10">
  <h2 class="text-center text-black text-lg mb-8">For the parent</h2>

  <div class="parent-carousel-wrapper">
    <div class="flex-wrap parent-carousel flex gap-6 justify-center max-w-6xl mx-auto transition-transform duration-300"
      #carouselContainer>
      <div *ngFor="let card of cards" class="bg-white rounded-md shadow-sm p-6 w-full sm:w-72 flex-shrink-0">
        <div class="flex items-center gap-3 mb-3">
          <div class="p-2 rounded border border-primary text-primary-hover">
            <img [src]="card.icon" class="w-6 h-6" />
          </div>
          <h3 class="font-semibold text-black text-sm leading-tight">
            {{ card.titleLine1 }}<br />{{ card.titleLine2 }}
          </h3>
        </div>
        <p class="text-xs text-black mb-6 leading-tight">
          {{ card.description }}
        </p>
        <a [routerLink]="card.link" class="text-primary font-semibold text-xs flex items-center gap-1">
          {{ card.linkText }}
          <i class="fas fa-external-link-alt text-[10px]"></i>
        </a>
      </div>
    </div>
  </div>
</div>