.parent-carousel::-webkit-scrollbar {
  display: none;
}
.parent-carousel::-webkit-scrollbar-thumb {
  display: none;
}
/* Add a custom class for masking if needed */
.mask-custom {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
