<app-hero-section [content]="{
    breadcrumb: {
    label: 'Strona główna',
link: '/',
current: 'Metoda'
},
title: 'Metoda nauczania angielskiego w Polyglot Kids',
subtitle: '',
description: 'Rymowanki, muzyka, ruch – na naszych zajęciach nie ma miejsca na nudę! Mamy 12 supermocy, które wciągają dzieci w świat swobodnej komunikacji, przełamują ich lęki i zamieniają rumieńce zawstydzenia w wypieki ekscytacji.',

    imageUrl: '../../../../../public/assets/methods/123.jpeg',
  }"></app-hero-section>

<main class="w-full py-10">
  <h2 class="text-center text-3xl font-normal mb-10">
    Więcej niż tylko nauka angielskiego
  </h2>

  <section class="flex flex-col sm:flex-row justify-center items-center gap-6 sm:gap-20 mb-14">
    <div class="flex flex-col items-center justify-center">
      <span class="text-primary-hover font-semibold text-4xl leading-none "> 2</span>
      <span class="text-gray-600 text-sm mt-1 text-center">solidne filary metody
        <br> (nawiązanie do Growth Mindset i Metody Colina Rose)</span>
    </div>
    <div class="border-l border-gray-300 h-10 hidden sm:block"></div>
    <div class="flex flex-col items-center justify-center">
      <span class="text-primary-hover font-semibold text-4xl leading-none"> 8</span>
      <span class="text-gray-600 text-sm mt-1 text-center">kluczowych umiejętności XXI wieku
        <br> (np. kreatywność, myślenie krytyczne, współpraca itd.)</span>
    </div>
    <div class="border-l border-gray-300 h-10 hidden sm:block"></div>
    <div class="flex flex-col items-center justify-center">
      <span class="text-primary-hover font-semibold text-4xl leading-none">1</span>
      <span class="text-gray-600 text-sm mt-1 text-center">cel: sukces na całe życie
        <br>(podkreślenie długofalowych korzyści)</span>
    </div>
  </section>

  <section class="max-w-[70%] mx-auto text-sm sm:text-base text-gray-900 leading-relaxed">
    <p class="mb-4">
      <strong>W Polyglot Kids łączymy siłę nastawienia na rozwój („growth mindset”) z metodą Colina Rose.</strong>

      Dzięki naszej metodzie dzieci nie boją się błędów, a poprzez angażującą naukę opartą na grach i muzyce, szybko i
      naturalnie przyswajają angielski. Kształtujemy nie tylko umiejętności językowe, ale również pewność siebie i
      kreatywność
      na całe życie

  </section>
</main>

<div class="bg-[#f3fcfb] min-h-screen flex flex-col items-center py-10 px-4">
  <h2 class="text-black text-lg mb-8">Odkryj nasze supermoce</h2>

  <div class="flex flex-wrap justify-center gap-6 w-full">
    <app-superpower-card *ngFor="let card of cards" [card]="card" [isExpanded]="expandedCardId === card.id"
      [onToggle]="toggleCard.bind(this, card.id)"></app-superpower-card>
  </div>
</div>

<main>
  <div
    class="competences__container col-span-full sm:col-span-2 lg:col-span-4 w-[70%] mx-auto text-center flex flex-col justify-center items-center my-24">
    <!-- Centered Heading -->
    <h2 class="competences__heading text-2xl sm:text-3xl font-bold w-full text-center my-5">
      Nasze kursy angielskiego rozwijają umiejętności przyszłości
    </h2>

    <!-- Centered Subheading -->
    <p class="competences__sub-heading text-base sm:text-lg text-center">
      Kompleksowy rozwój dzieci jest naszym priorytetem. Skupiamy się na
      stopniowym pogłębianiu różnych kompetencji niezbędnych w XXI wieku.
    </p>
  </div>

  <div class="max-w-7xl sm:mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mb-10 mx-3">
    <!-- Kids -->
    <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
      <header class="flex items-center gap-3 bg-[#f6b1c0] rounded-t-md px-4 py-5">

        <h2 class="font-bold text-lg text-black flex-1">Dzieci</h2>
        <span class="text-black font-bold text-lg">3–6 lat</span>
      </header>
      <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          otwartość
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#f6b1c0] text-[#f6b1c0] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          ekspresja twórcza
        </li>
      </ul>
    </section>

    <!-- Juniors -->
    <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
      <header class="flex items-center gap-3 bg-[#fdcf9c] rounded-t-md px-4 py-5">

        <h2 class="text-black text-lg font-bold flex-1">Juniorzy</h2>
        <span class="text-black text-lg font-bold">7–10 lat</span>
      </header>
      <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          Kreatywność
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          umiejętności komunikacyjne
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#fdcf9c] text-[#fdcf9c] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          nastawienie na rozwój
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
            <i class="fas fa-check"></i>
          </span>
          otwartość
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-amber-200 text-[#fdcf9c] text-xs">
            <i class="fas fa-check"></i>
          </span>
          ekspresja twórcza
        </li>
      </ul>
    </section>

    <!-- Teens -->
    <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
      <header class="flex items-center gap-3 bg-[#ffd549] rounded-t-md px-4 py-5">

        <h2 class="font-bold text-lg text-black flex-1">Nastolatki</h2>
        <span class="text-black font-bold text-lg">11–14 lat</span>
      </header>
      <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          myślenie krytyczne
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          kompetencje społeczne
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ffd549] text-[#ffd549] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          umiejętność uczenia się
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
            <i class="fas fa-check"></i>
          </span>
          kreatywność
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
            <i class="fas fa-check"></i>
          </span>
          umiejętności komunikacyjne
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
            <i class="fas fa-check"></i>
          </span>
          nastawienie na rozwój
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
            <i class="fas fa-check"></i>
          </span>
          otwartość
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-yellow-200 text-[#ffd549] text-xs">
            <i class="fas fa-check"></i>
          </span>
          ekspresja twórcza
        </li>
      </ul>
    </section>

    <!-- Masters -->
    <section class="bg-white rounded-md shadow-sm text-nowrap overflow-hidden">
      <header class="flex items-center gap-3 bg-[#ee4023] rounded-t-md px-4 py-5">

        <h2 class="font-bold text-lg text-black flex-1">Mistrzowie</h2>
        <span class="text-black font-bold text-lg">15–19 lat</span>
      </header>
      <ul class="px-6 py-4 pb-28 space-y-3 text-sm text-gray-900">
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          samodzielność
        </li>
        <li class="flex items-center gap-2 font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-[#ee4023] text-[#ee4023] text-xs">
            <i class="fas fa-plus"></i>
          </span>
          proaktywność
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          myślenie krytyczne
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          kompetencje społeczne
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          umiejętność uczenia się
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          kreatywność
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          umiejętności komunikacyjne
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          nastawienie na rozwój
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          otwartość
        </li>
        <li class="flex items-center gap-2 text-black font-semibold">
          <span
            class="flex items-center justify-center w-5 h-5 rounded-full border border-red-300 text-[#ee4023] text-xs">
            <i class="fas fa-check"></i>
          </span>
          ekspresja twórcza
        </li>
      </ul>
    </section>
  </div>
</main>

<div class="max-w-[85%] mx-auto bg-[#ffebf0] rounded-4xl px-6 py-12 text-center my-10">
  <h2 class="text-black text-2xl font-bold mb-3">
    Wybierz kurs języka angielskiego w Polyglot Kids
  </h2>
  <p class="text-[#4B4B5B] text-base font-semibold mb-8">
    Zapewnij swojemu dziecku rozwój na wielu płaszczyznach
  </p>
  <button routerLink="/registration/applicationForm"
    class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
    type="button">
    Zapisz się na angielski
  </button>
</div>

<section id="courses-seo" class="py-12 bg-white">
  <div class="max-w-6xl mx-auto px-4 grid gap-10 md:grid-cols-2 lg:grid-cols-2">
    <!-- Box 1 -->
    <div class="bg-gray-50 p-6 rounded-xl shadow">
      <h3 class="text-xl font-semibold mb-2">
        Nasza Metoda: Fundament Sukcesu Twojego Dziecka
      </h3>
      <p class="text-gray-700">
        W Polyglot Kids nauka angielskiego to przemyślana podróż, w której łączymy psychologię rozwojową z
        najskuteczniejszymi
        technikami. Nasza autorska struktura, oparta na filarach „growth mindset” i metodzie Colina Rose, zapewnia
        solidne ramy
        dla nauki. Jednocześnie daje przestrzeń na to, co w edukacji najważniejsze: spontaniczną radość, kreatywność i
        autentyczną relację między uczniem a nauczycielem. Każde zajęcia są przygodą, idealnie dopasowaną do energii i
        możliwości uczestników.
        Dopasowane Ścieżki Nauczania dla Każdego Wieku
        Rozumiemy, że kluczem do efektywności jest dostosowanie metod do etapu rozwoju ucznia. Dlatego naszą wiedzę i
        narzędzia
        stosujemy w sposób celowy na każdym etapie edukacji:

      </p>
    </div>

    <!-- Box 2 -->
    <div class="bg-gray-50 p-6 rounded-xl shadow">
      <h3 class="text-xl font-semibold mb-2">
        Metoda nauczania angielskiego na różnych poziomach językowych
      </h3>
      <p class="text-gray-700">
        Zapewniamy naszym nauczycielom stałe wsparcie metodyczne oraz możliwości
        rozwoju zawodowego.
        <br /><br />
        Dla młodszych uczniów (Kids & Juniors): Zanurzamy dzieci w języku poprzez polisensoryczną metodę Colina Rose. Nauka
        odbywa się w ruchu, przez gry, piosenki i rytm, budując trwałe i pozytywne skojarzenia z językiem angielskim.
        Dla starszych uczniów (Teens & Masters): Na solidnym fundamencie rozwijamy kompetencje przyszłości. Kładziemy nacisk na
        płynną komunikację, krytyczne myślenie i skuteczne przygotowanie do egzaminów oraz realnych wyzwań językowych, cały czas
        pielęgnując nastawienie na rozwój.
        Dbamy również o nasz zespół, zapewniając nauczycielom stałe wsparcie metodologiczne i możliwości rozwoju, by mogli w
        pełni wykorzystywać potencjał naszej unikalnej metody.
      </p>
    </div>
  </div>
</section>