<div class="relative overflow-hidden bg-[#FEF3F6] mb-20">
    <div class="max-w-[1300px] mx-auto ">
        <!-- Nawigacja okruszkowa -->
        <nav class="text-[15px] pt-10 px-5">
            <a routerLink="/" class="text-primary font-semibold underline">
                Strona główna
            </a>
            <span routerLink="/parent" class="text-primary font-semibold underline cursor-pointer"><span
                    class="mx-1.5 font-light">|</span>Dla
                Rodzica</span>
            <span class="text-black"><span class="mx-1.5 font-light">|</span>Akademia Świadomego Rodzica</span>
        </nav>

        <!-- Obszar treści -->
        <div
            class="flex flex-col justify-center items-center lg:flex-row lg:items-center lg:justify-between gap-6 h-full px-5">
            <!-- Sekcja tekstowa -->
            <div class="w-full mb-8 lg:mb-0">
                <h1 class="text-2xl sm:text-3xl font-bold mb-4 leading-snug text-black">
                    Akademia Świadomego Rodzica
                </h1>
                <p class="text-[14px] text-black leading-relaxed">
                    W Polyglot Kids wierzymy, że sukces językowy dziecka w dużej mierze zależy od rodzica. To Ty
                    wspierasz swoje dziecko w chwilach zwątpienia, obserwujesz jak opanowuje nowe umiejętności i
                    motywujesz
                    je do dalszego zdobywania wiedzy. Wiemy jednak, że rodzicielstwo to ogromne wyzwanie, dlatego
                    zachęcamy
                    wszystkich rodziców do udziału w Akademii Świadomego Rodzica.
                </p>
            </div>

            <!-- Sekcja obrazka -->
            <div class="w-[80%] flex justify-center pr-32 items-center ml-24">
                <img src='../../../../../public/assets/parent/12.jpeg' alt="Obrazek główny"
                    class="w-full lg:h-[400px] object-contain" />
            </div>
        </div>
    </div>

</div>



<h1 class="w-full text-center font-semibold text-4xl">W ramach Smart Parent Academy prowadzimy:</h1>


<app-feature [featureArray]="featureArray"></app-feature>


<main class="max-w-6xl mx-auto px-6 py-10">
    <div class="flex flex-col-reverse md:flex-row md:items-start md:space-x-10 ">
        <section class="md:flex-1 max-w-xl">
            <h1 class="text-2xl md:text-3xl font-normal mb-6 leading-tight text-gray-900">
                Akademia Świadomego Rodzica
            </h1>
            <p class="text-sm md:text-base text-gray-900 mb-6 leading-relaxed">
                Akademia Świadomego Rodzica to seria działań prowadzonych przez metodyków Polyglot Kids i ekspertów
                w dziedzinie psychologii. Prowadzimy bloga, na którym poruszamy tematy związane z nauką języka
                angielskiego,
                dzielimy się pomysłami na ciekawe sposoby spędzania czasu i polecamy miejsca warte odwiedzenia z
                dzieckiem.
            </p>
            <p class="text-sm md:text-base text-gray-900 leading-relaxed">
                W ramach Akademii Świadomego Rodzica zapraszamy na regularne webinaria, podczas których dzielimy się
                wiedzą
                z zakresu psychologii dziecka, rodzicielstwa i kreatywnej nauki angielskiego. O wszystkich aktywnościach
                dowiesz się z cotygodniowego Newslettera - możesz zapisać się na niego odwiedzając blog Polyglot Kids.
            </p>
        </section>
        <section class="max-w-6xl mx-auto px-4 py-10 flex flex-col md:flex-row items-center md:items-start gap-8">
            <img alt="Portretowe zdjęcie trzech osób: starszej kobiety z krótkimi blond włosami i okularami w różowej bluzce i szaliku, mężczyzny z półdługimi blond włosami w jasnoniebieskiej koszuli oraz kobiety z blond włosami w turkusowej bluzce, wszyscy się uśmiechają"
                class="rounded-lg max-w-full h-auto" height="300" src="../../../../../../public/assets/parent/13.jpeg"
                width="400" />
        </section>
    </div>
</main>



<main class="flex flex-col lg:flex-row gap-6 justify-center mx-10  lg:mx-0">
    <div class=" bg-[#ebf7ff] rounded-4xl px-10 py-5 md:px-20 md:py-10 lg:px-28 lg:py-10 text-center my-10">
        <h2 class="text-black text-lg md:text-2xl font-bold mb-3">
            Blog o nauce języków i nie tylko
        </h2>
        <p class="text-[#4B4B5B] text-medium md:text-base font-semibold mb-8">
            Dzielimy się wiedzą i wieloletnim doświadczeniem
        </p>
        <button routerLink="/blogs"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            Czytaj bloga
        </button>
    </div>
    <div class=" bg-[#ffebf0] rounded-4xl px-10 py-5 md:px-20 md:py-10 lg:px-28 lg:py-10 text-center my-10">
        <h2 class="text-black text-lg md:text-2xl font-bold mb-3">
            Webinary dla rodziców
        </h2>
        <p class="text-[#4B4B5B] text-base font-semibold mb-8">
            Mówimy o językowym i emocjonalnym rozwoju dzieci
        </p>
        <button routerLink="/blogs"
            class="bg-[#E6007E] text-white font-semibold text-md uppercase rounded-full px-10 py-3 shadow-[0_4px_8px_rgba(230,0,126,0.4)] hover:brightness-110 transition"
            type="button">
            Obejrzyj webinary
        </button>
    </div>
</main>