<!-- features  -->
<div class=" flex justify-center gap-4 items-start w-[85%] m-auto flex-wrap mt-10 ">

    <div class="flex flex-col items-center text-center px-4 py-6 w-[190px] max-w-xs "
        *ngFor="let feature of featureArray">
        <div class="w-16 h-16 rounded-full bg-primary-bg flex items-center justify-center mb-4">
            <div class="w-8 h-8 bg-primary-hover mask mask-custom"
                [ngStyle]="{ maskImage: 'url(' + feature.iconUrl + ')', WebkitMaskImage: 'url(' + feature.iconUrl + ')' }">
            </div>
        </div>

        <h3 class="text-lg font-semibold mb-1 leading-tight">
            <span>{{ feature.title }}</span>
        </h3>
       
    </div>

</div>