<footer class="text-white w-full px-6 py-10 bg-[#4D1231]">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8 max-w-5xl mx-auto">
        <!-- Column 1 -->
        <div class="space-y-2 text-sm sm:text-base">
            <p class="font-semibold hover:text-pink-500 cursor-pointer" style="font-family: 'Montserrat', sans-serif;"
                routerLink="/">Courses</p>
            <p class="cursor-pointer  hover:text-pink-500" routerLink="/">3 - 6 years</p>
            <p class="cursor-pointer  hover:text-pink-500" routerLink="/">7 - 10 years</p>
            <p class="cursor-pointer  hover:text-pink-500" routerLink="/">11 - 14 years old</p>
            <p class="cursor-pointer  hover:text-pink-500" routerLink="/">15 - 19 years old</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Find a school</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Price-list</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Method</p>
        </div>
        <!-- Column 2 -->
        <div class="space-y-2 text-sm sm:text-base">
            <p class="font-semibold hover:text-pink-500 cursor-pointer" style="font-family: 'Montserrat', sans-serif;"
                routerLink="/">For the parent</p>
            <p class=" hover:text-pink-500 cursor-pointer" routerLink="/">Login to Early Stage Online</p>
            <p class=" hover:text-pink-500 cursor-pointer" routerLink="/">Smart Parent Academy</p>
            <p class=" hover:text-pink-500 cursor-pointer" routerLink="/">Summer camps for children</p>
            <p class=" hover:text-pink-500 cursor-pointer" routerLink="/">GRAMMAR RHYMES Manual</p>
            <p class=" hover:text-pink-500 cursor-pointer" routerLink="/">Thematic projects</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Webinars</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Blog</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer mt-3"
                style="font-family: 'Montserrat', sans-serif;" routerLink="/">Child Protection Policy</p>
        </div>
        <!-- Column 3 -->
        <div class="space-y-2 text-sm sm:text-base">
            <p class="font-semibold hover:text-pink-500 cursor-pointer" style="font-family: 'Montserrat', sans-serif;"
                routerLink="/">About us</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Contact</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Franchise</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Become a lecturer</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Privacy</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Cookie preferences</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Statute</p>
            <p class="font-semibold hover:text-pink-500 cursor-pointer" routerLink="/">Site Map</p>
        </div>
    </div>

    <hr class="border-t border-gray-500 my-6 max-w-5xl mx-auto" />

    <div class="max-w-5xl mx-auto flex flex-col sm:flex-row items-center justify-between text-sm sm:text-base">
        <p class="mb-4 sm:mb-0">Follow us on Social Media</p>
        <div class="flex space-x-6 text-xl">
            <a href="#" aria-label="Instagram" class="hover:text-pink-500"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="Facebook" class="hover:text-pink-500"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="YouTube" class="hover:text-pink-500"><i class="fab fa-youtube"></i></a>
            <a href="#" aria-label="LinkedIn" class="hover:text-pink-500"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <button aria-label="Scroll to top" (click)="scrollToTop()"
            class="mt-4 sm:mt-0 bg-pink-600 hover:bg-pink-500 rounded-full w-10 h-10 flex items-center justify-center">
            <i class="fas fa-chevron-up text-white"></i>
        </button>

    </div>
</footer>

<div class="es__spacer"></div>