/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
.toast-top-right,
.toast-bottom-right,
.toast-top-left,
.toast-bottom-left,
.toast-top-center,
.toast-bottom-center {
  z-index: 99999 !important;
}
.skiptranslate {
  display: none !important;
}
@theme {
  --color-primary-bg: #ecf7f8;
  --color-primary: #42a6dd;
  --color-primary-hover: #28458d;
  --color-primary-gray: #dbdbdb;
  --color-hero-section: #fffde7;
  --color-hero-red-text: #d6336c;
}

body {
  top: 0px !important;
}

body {
  font-family: sans-serif;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
