/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
.toast-top-right,
.toast-bottom-right,
.toast-top-left,
.toast-bottom-left,
.toast-top-center,
.toast-bottom-center {
  z-index: 99999 !important;
}
.skiptranslate {
  display: none !important;
}
@theme {
  --color-primary-bg: #ecf7f8;
  --color-primary: #42a6dd;
  --color-primary-hover: #28458d;
  --color-primary-gray: #dbdbdb;
  --color-hero-section: #fffde7;
  --color-hero-red-text: #d6336c;
}

body {
  top: 0px !important;
}

body {
  font-family: sans-serif;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
.toast-container {
  @apply fixed top-3 right-1 z-50 flex flex-col items-end gap-2 p-3 text-white;
}

.toast {
  @apply px-4 py-2 rounded-md shadow-md text-white text-center text-sm w-fit max-w-xs break-words transition-all duration-300;
}

.toast-success {
  @apply bg-green-600 p-3;
}

.toast-error {
  @apply bg-red-600 p-3;
}

.toast-info {
  @apply bg-blue-600 p-3;
}

.toast-warning {
  @apply bg-yellow-500 text-black p-3; 
}
